## Leitura do Dataset Movies que contém títulos e generos de 27.278 filmes

In [1]:
import pandas as pd
data = pd.read_csv('movies.csv',index_col=0)

In [2]:
data.describe()

                  title genres
count             27278  27278
unique            27262   1342
top     Paradise (2013)  Drama
freq                  2   4520

In [3]:
data = data.dropna()
data.describe()

                  title genres
count             27278  27278
unique            27262   1342
top     Paradise (2013)  Drama
freq                  2   4520

No dataset não existem títulos sem classificação de gênero e vice-versa.

In [4]:
data =data.drop_duplicates()
data.describe()

               title genres
count          27272  27272
unique         27262   1342
top     Chaos (2005)  Drama
freq               2   4518

Eliminamos do dataset as duplicações de títulos que se repetiram; mesmo título e mesma classificação de gênero.

In [6]:
qtd = data.groupby(['title']).size().reset_index(name='counts')

In [7]:

qtd[qtd['counts']==2]

                                     title  counts
163    20,000 Leagues Under the Sea (1997)       2
842                         Aladdin (1992)       2
3038                       Blackout (2007)       2
4349                       Casanova (2005)       2
4565                          Chaos (2005)       2
7621                           Emma (1996)       2
10389                        Hamlet (2000)       2
15631                 Men with Guns (1997)       2
18070                      Paradise (2013)       2
25931             War of the Worlds (2005)       2

In [10]:
qtd.sort_values(by='counts',ascending=False)

                                                   title  counts
10389                                      Hamlet (2000)       2
4349                                     Casanova (2005)       2
15631                               Men with Guns (1997)       2
842                                       Aladdin (1992)       2
18070                                    Paradise (2013)       2
4565                                        Chaos (2005)       2
25931                           War of the Worlds (2005)       2
7621                                         Emma (1996)       2
163                  20,000 Leagues Under the Sea (1997)       2
3038                                     Blackout (2007)       2
18180    Pastoral Hide and Seek (Den-en ni shisu) (1974)       1
18179                        Past, The (Le passé) (2013)       1
18173                  Passion of the Christ, The (2004)       1
18177            Password: Uccidete agente Gordon (1966)       1
18176                         Passport to Pimlico (1949)       1
18175  Passionate Friends, The (a.k.a. One Woman's St...       1
18174                                  Passionada (2002)       1
18178                               Past Midnight (1992)       1
18170  Passion of Joan of Arc, The (Passion de Jeanne...       1
18172                             Passion of Mind (2000)       1
18171          Passion of Love (Passione d'amore) (1981)       1
18169                 Passion of Darkly Noon, The (1995)       1
18168                    Passion of Ayn Rand, The (1999)       1
18167          Passion of Anna, The (Passion, En) (1969)       1
18166                       Passion in the Desert (1998)       1
18165                                Passion Play (2010)       1
18164                              Passion Flower (1930)       1
18163                                Passion Fish (1992)       1
18162                                     Passion (2012)       1
18161                             Passing Strange (2009)       1
...                                                  ...     ...
9060                                French Cancan (1954)       1
9059                                      Freezer (2014)       1
9058                                    Freeze Me (2000)       1
9081                              Fresh Guacamole (2012)       1
9082                                 Fresh Horses (1988)       1
9083                                Freshman, The (1925)       1
9096      Friday the 13th Part V: A New Beginning (1985)       1
9106                          Friendly Persuasion (1956)       1
9105   Friend of the Deceased, A (Priyatel pokonika) ...       1
9104       Friend of Mine, A (Ein Freund von mir) (2006)       1
9103                     Friend Zone (Pagafantas) (2009)       1
9102   Friend Is a Treasure, A (Chi Trova Un Amico, T...       1
9101   Friend Among Strangers, Stranger Among Friends...       1
9100                         Fried Green Tomatoes (1991)       1
9099   Friday the 13th Part VIII: Jason Takes Manhatt...       1
9098      Friday the 13th Part VII: The New Blood (1988)       1
9097         Friday the 13th Part VI: Jason Lives (1986)       1
9095   Friday the 13th Part IV: The Final Chapter (1984)       1
9084                                Freshman, The (1990)       1
9094                   Friday the 13th Part 3: 3D (1982)       1
9093                       Friday the 13th Part 2 (1981)       1
9092                              Friday the 13th (2009)       1
9091                              Friday the 13th (1980)       1
9090                          Friday Night Lights (2004)       1
9089                 Friday Night (Vendredi Soir) (2002)       1
9088                            Friday After Next (2002)       1
9087                                       Friday (1995)       1
9086                                        Frida (2002)       1
9085                    Freud: The Secret Passion (1962)       1
27261                                        貞子3D (2012)       1

[27262 rows x 2 columns]

In [9]:
for dado in [d for d in data['title'] if d in list(qtd[qtd['counts']==2].title)]:
    print(data[data['title']==dado])

                  title                                       genres
movieId
588      Aladdin (1992)  Adventure|Animation|Children|Comedy|Musical
114240   Aladdin (1992)  Adventure|Animation|Children|Comedy|Fantasy
               title                genres
movieId
838      Emma (1996)  Comedy|Drama|Romance
26958    Emma (1996)               Romance
                        title        genres
movieId
1788     Men with Guns (1997)  Action|Drama
26982    Men with Guns (1997)         Drama
                 title                        genres
movieId
3598     Hamlet (2000)  Crime|Drama|Romance|Thriller
65665    Hamlet (2000)                         Drama
               title                genres
movieId
838      Emma (1996)  Comedy|Drama|Romance
26958    Emma (1996)               Romance
                        title        genres
movieId
1788     Men with Guns (1997)  Action|Drama
26982    Men with Guns (1997)         Drama
                            title                            genres
movieId
34048    War of the Worlds (2005)  Action|Adventure|Sci-Fi|Thriller
64997    War of the Worlds (2005)                     Action|Sci-Fi
                   title                                 genres
movieId
42015    Casanova (2005)  Action|Adventure|Comedy|Drama|Romance
128862   Casanova (2005)                   Comedy|Drama|Romance
                title                       genres
movieId
47254    Chaos (2005)  Action|Crime|Drama|Thriller
67459    Chaos (2005)           Crime|Drama|Horror
                            title                            genres
movieId
34048    War of the Worlds (2005)  Action|Adventure|Sci-Fi|Thriller
64997    War of the Worlds (2005)                     Action|Sci-Fi
                 title                        genres
movieId
3598     Hamlet (2000)  Crime|Drama|Romance|Thriller
65665    Hamlet (2000)                         Drama
                   title           genres
movieId
66140    Blackout (2007)  Horror|Thriller
85070    Blackout (2007)            Drama
                title                       genres
movieId
47254    Chaos (2005)  Action|Crime|Drama|Thriller
67459    Chaos (2005)           Crime|Drama|Horror
                   title           genres
movieId
66140    Blackout (2007)  Horror|Thriller
85070    Blackout (2007)            Drama
                                       title                    genres
movieId
102190   20,000 Leagues Under the Sea (1997)  Adventure|Romance|Sci-Fi
114130   20,000 Leagues Under the Sea (1997)            Romance|Sci-Fi
                   title        genres
movieId
113459   Paradise (2013)  Comedy|Drama
121586   Paradise (2013)       Romance
                                       title                    genres
movieId
102190   20,000 Leagues Under the Sea (1997)  Adventure|Romance|Sci-Fi
114130   20,000 Leagues Under the Sea (1997)            Romance|Sci-Fi
                  title                                       genres
movieId
588      Aladdin (1992)  Adventure|Animation|Children|Comedy|Musical
114240   Aladdin (1992)  Adventure|Animation|Children|Comedy|Fantasy
                   title        genres
movieId
113459   Paradise (2013)  Comedy|Drama
121586   Paradise (2013)       Romance
                   title                                 genres
movieId
42015    Casanova (2005)  Action|Adventure|Comedy|Drama|Romance
128862   Casanova (2005)                   Comedy|Drama|Romance

Encontramos ainda 10 títulos que possuem classificação diferentes. Em alguns casos em uma das classificações o gênero já está contido no conjunto, mas em outros não.

Computar o DTM

In [ ]:
import nltk
nltk.download('punkt')
from nltk.tokenize import word_tokenize

def texto_tokenize(txt):
    return [word_tokenize(t) for t in txt]
wt = texto_tokenize(data.title)

In [ ]:
y = [x for x in[a for a in wt]]

In [ ]:
query = ['toy story', 'the lion king','alladin','beauty and the best','cinderella','little mermaid','hercules']

In [ ]:
query

In [ ]:
from nltk.tokenize import word_tokenize
from sklearn.feature_extraction.text import CountVectorizer

vect = CountVectorizer(ngram_range=(1,1))
D = vect.fit_transform(data.title)
D

In [ ]:
Dc = vect.transform(query)
Dc

In [ ]:
x = D.A
m = x.mean(axis=0)
c = 2
B = c*(1-m)
a = c*m

In [ ]:
a_til = a + x.sum()

In [ ]:
a_til

In [ ]:
N = len(Dc.sum(axis=1))

In [ ]:
B_til

In [ ]:
B_til = B + N - x.sum()

In [ ]:
nc =